name: 'Test'
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install project deps
        uses: workflow/nix-shell-action@v3.4.0
        with:
          flakes-from-devshell: true
          script: |
            make install
      - name: Run linter
        uses: workflow/nix-shell-action@v3.4.0
        with:
          flakes-from-devshell: true
          script: |
            make lint
      - name: Test
        uses: workflow/nix-shell-action@v3.4.0
        with:
          flakes-from-devshell: true
          script: |
            make test
